/* reset */
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td,figure{margin:0;padding:0;}
body,button,input,select,textarea{font:12px/1.5 arial,\5b8b\4f53;color:#4d4d4d;}h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol{list-style:none;}
a{text-decoration:none;color:#4a80b5;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
/* background-image */
.fakeSelect { background: url(../img/select-sprite.gif?v=1) no-repeat; }
/* select-simulation */
.fakeSelect { display: inline-block; height: 20px; padding: 4px 28px 4px 5px; color: #4d4d4d; border: 1px solid #c7c7c7; box-shadow: inset 1px 1px 4px 0 #f3f3f3; vertical-align: middle; font-size: 14px; cursor: pointer; background-position: right 5px; }
.fakeSelect:hover { background-position: right -22px; text-decoration: none; }
.fakeOption { border: 1px solid #cbcbcb; background-color: #fff; }
.fakeOption li { line-height: 30px; padding: 0 5px; cursor: pointer; font-size: 14px; padding-right: 28px; white-space: nowrap; }
.fakeOption .selected { background-color: #f6f6f6; }
/* if not IE6 */
body > .fakeOption li { height: 30px; }